/* styles.css */

/* Reset
-------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
  background-color: transparent;
  border: none;
}

/* Variables
-------------------------------------------- */

:root {
  --outline-col: #FF851B;
  --border-col: #DDDDDD;
  --font-weight-default: 400;
  --font-weight-bold: 600;
  --font-default: 15px;
  --font-small: 14px;
}

/* Typography Elements
-------------------------------------------- */

* {
  outline-color: var(--outline-col);
}

*::selection {
  background: #FFF2A8;
}

small {
  font-size: var(--font-small);
}

a {
  color: var(--link-col);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

hr {
  margin: 1em 0.5em;
  border: none;
  border-top: 1px solid var(--border-col);
}

html {
  background-color: #c3cfe2;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-size: var(--font-default);
  font-weight: var(--font-weight-default);
  letter-spacing: -0.01em;
  line-height: 1.5;

  /*
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-repeat: no-repeat;
  background-size: cover;
  */
}

main {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 128px;
  height: 128px;
  border-radius: 32px;
  border: none;

  user-select: none;

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.footer {
  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;

  bottom: 1.5rem;
  font-size: var(--font-small);
  color: #828994;
}

.email-icon {
  &::after {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../imgs/svgs/email.svg) no-repeat center / contain;
    filter: opacity(30%);
  }
}
